p {
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;

}

h1 {
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3cm;
    font-weight: bold;
    font-display: swap;
    font-variant: inherit;
}

img {
    width: 25%;
    margin-left: 3%;
    border: solid salmon 10px ;
}